<!-- GET /albums -->

<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <% @all_albums.each do |album| %>
    <a href="/albums/<%=album.id%>"><%=album.title%></a>
    <br />
    <% end %>
 
    <!-- ... -->
  </body>
</html>